# Visual Studio
.vs/
bin/
obj/

# Node / React
node_modules/
dist/

# Env
.env
.env.local
Front-end/client/.env
Front-end/client/.env.local
KawiNiveauApi/KawiNiveauApi/.env
KawiNiveauApi/KawiNiveauApi/.env.local

# Logs
*.log
# Text files
*.txt
